APP_ENV={{ vpn_node_environment }}
LOG_LEVEL=info
NODE_ID={{ vpn_node_id }}
NODE_STATE_DIRECTORY=/var/lib/node-agent
NODE_OPERATION_JOURNAL_LIMIT=2048
HTTP_ADDR={{ vpn_node_wireguard_address.split('/')[0] }}:{{ vpn_node_agent_port }}
SERVER_TLS_CERT_FILE=/etc/vpn-node/credentials/node-agent/tls.crt
SERVER_TLS_KEY_FILE=/etc/vpn-node/credentials/node-agent/tls.key
CLIENT_CA_FILE=/etc/vpn-node/credentials/node-agent/ca.pem
MTLS_TRUST_DOMAIN={{ vpn_node_mtls_trust_domain }}
MTLS_NAMESPACE={{ vpn_node_mtls_namespace }}
NODE_HEALTH_CALLER_IDENTITY={{ vpn_node_health_caller_identity }}
XRAY_MANAGER_MODE=systemd
XRAY_BINARY=/usr/local/bin/xray
XRAY_CONFIG_DIRECTORY=/etc/vpn-node/xray
XRAY_CONTROL_COMMAND=/usr/bin/sudo
XRAY_CONTROL_ARGS=-n,/usr/local/libexec/vpn-xray-control
XRAY_REALITY_PRIVATE_KEY_FILE=/etc/vpn-node/credentials/xray/reality.key
XRAY_REALITY_TARGET={{ vpn_node_reality_target }}
XRAY_REALITY_SERVER_NAMES={{ vpn_node_reality_server_names | join(',') }}
XRAY_REALITY_SHORT_IDS={{ vpn_node_reality_short_ids | join(',') }}
XRAY_LISTEN_ADDRESS=0.0.0.0
XRAY_LISTEN_PORT={{ vpn_node_xray_port }}
