Defaults:vpn-node-agent !setenv, secure_path=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
vpn-node-agent ALL=(root) NOPASSWD: /usr/local/libexec/vpn-xray-control reload, /usr/local/libexec/vpn-xray-control status
